.suggestion-item {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 16px;
}
.suggestion-text {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0;
}
.arrow-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.arrow {
  height: 16px;
  width: 16px;
}
